In [4]:
import sys
import os
import math
# sys.path.append(f"{os.getcwd()}/.venv/lib/python3.12/site-packages/")
# sys.path.append(f"{os.getcwd()}/")
from src.vehicle_routing.demo_data import DemoData, generate_demo_data

from src.vehicle_routing.domain import Location, Visit, Vehicle, VehicleRoutePlan
import pandas as pd

print(sys.path)

['/usr/lib/python312.zip', '/usr/lib/python3.12', '/usr/lib/python3.12/lib-dynload', '', '/home/t/.local/lib/python3.12/site-packages', '/usr/lib/python3.12/site-packages', '/usr/lib/python3.12/site-packages/linkgrammar']

In [5]:
DemoData.FIRENZE

<DemoData.FIRENZE: _DemoDataProperties(seed=2, visit_count=77, vehicle_count=6, vehicle_start_time=datetime.time(7, 30), min_demand=1, max_demand=2, min_vehicle_capacity=20, max_vehicle_capacity=40, south_west_corner=Location(43.751466, 11.17721), north_east_corner=Location(43.809291, 11.290195))>

In [6]:
print(DemoData.FIRENZE.value.vehicle_start_time)
print(DemoData.FIRENZE.value.vehicle_count)
DemoData.FIRENZE.value.south_west_corner

07:30:00
6

Location(43.751466, 11.17721)

In [7]:
demo_data = generate_demo_data(DemoData.FIRENZE)
demo_data

VehicleRoutePlan(name='demo', south_west_corner=Location(43.751466, 11.17721), north_east_corner=Location(43.809291, 11.290195), vehicles=[Vehicle(0), Vehicle(1), Vehicle(2), Vehicle(3), Vehicle(4), Vehicle(5)], visits=[Visit(0), Visit(1), Visit(2), Visit(3), Visit(4), Visit(5), Visit(6), Visit(7), Visit(8), Visit(9), Visit(10), Visit(11), Visit(12), Visit(13), Visit(14), Visit(15), Visit(16), Visit(17), Visit(18), Visit(19), Visit(20), Visit(21), Visit(22), Visit(23), Visit(24), Visit(25), Visit(26), Visit(27), Visit(28), Visit(29), Visit(30), Visit(31), Visit(32), Visit(33), Visit(34), Visit(35), Visit(36), Visit(37), Visit(38), Visit(39), Visit(40), Visit(41), Visit(42), Visit(43), Visit(44), Visit(45), Visit(46), Visit(47), Visit(48), Visit(49), Visit(50), Visit(51), Visit(52), Visit(53), Visit(54), Visit(55), Visit(56), Visit(57), Visit(58), Visit(59), Visit(60), Visit(61), Visit(62), Visit(63), Visit(64), Visit(65), Visit(66), Visit(67), Visit(68), Visit(69), Visit(70), Visit(71), Visit(72), Visit(73), Visit(74), Visit(75), Visit(76)], score=None, solver_status=None, total_driving_time_seconds=0)

In [8]:
# demo_data.vehicles[0].vehicle_start_time

In [9]:
demo_data.vehicles

[Vehicle(0), Vehicle(1), Vehicle(2), Vehicle(3), Vehicle(4), Vehicle(5)]

In [10]:
demo_data.vehicles[0].json()

'{"id":"0","capacity":21,"home_location":[43.7567618903317,11.218004078698039],"departure_time":"2024-09-23T07:30:00","visits":[],"arrival_time":"2024-09-23T07:30:00","total_demand":0,"total_driving_time_seconds":0}'

In [11]:
demo_data.visits[0].json()

'{"id":"0","name":"Hugo Smith","location":[43.766977020885875,11.181268910356453],"demand":1,"min_start_time":"2024-09-23T13:00:00","max_end_time":"2024-09-23T18:00:00","service_duration":1800,"vehicle":null,"previous_visit":null,"next_visit":null,"arrival_time":null,"departure_time":null,"start_service_time":null,"driving_time_seconds_from_previous_standstill":null}'

In [12]:
def generate_demo_data(demo_data_enum: DemoData) -> VehicleRoutePlan:
    name = "demo"
    demo_data = demo_data_enum.value
    random = Random(demo_data.seed)
    latitudes = doubles(random, demo_data.south_west_corner.latitude, demo_data.north_east_corner.latitude)
    longitudes = doubles(random, demo_data.south_west_corner.longitude, demo_data.north_east_corner.longitude)

    demands = ints(random, demo_data.min_demand, demo_data.max_demand + 1)
    service_durations = values(random, SERVICE_DURATION_MINUTES)
    vehicle_capacities = ints(random, demo_data.min_vehicle_capacity,
                              demo_data.max_vehicle_capacity + 1)

    vehicles = [Vehicle(id=str(i),
                        capacity=next(vehicle_capacities),
                        home_location=Location(
                            latitude=next(latitudes),
                            longitude=next(longitudes)),
                        departure_time=datetime.combine(
                            date.today() + timedelta(days=1), demo_data.vehicle_start_time)
                        )
                for i in range(demo_data.vehicle_count)]

    names = generate_names(random)
    visits = [
        Visit(
             id=str(i),
             name=next(names),
             location=Location(latitude=next(latitudes), longitude=next(longitudes)),
             demand=next(demands),
             min_start_time=datetime.combine(date.today() + timedelta(days=1),
                                             MORNING_WINDOW_START
                                             if (morning_window := random.random() > 0.5)
                                             else AFTERNOON_WINDOW_START),
             max_end_time=datetime.combine(date.today() + timedelta(days=1),
                                           MORNING_WINDOW_END
                                           if morning_window
                                           else AFTERNOON_WINDOW_END),
             service_duration=timedelta(minutes=next(service_durations)),
         ) for i in range(demo_data.visit_count)
    ]

    return VehicleRoutePlan(name=name,
                            south_west_corner=demo_data.south_west_corner,
                            north_east_corner=demo_data.north_east_corner,
                            vehicles=vehicles,
                            visits=visits)

In [13]:
vehicles = [Vehicle(id=str(i),
                    capacity=next(vehicle_capacities),
                    home_location=Location(
                        latitude=next(latitudes),
                        longitude=next(longitudes)),
                    departure_time=datetime.combine(
                        date.today() + timedelta(days=1), demo_data.vehicle_start_time)
                    )
            for i in range(demo_data.vehicle_count)]

AttributeError: 'VehicleRoutePlan' object has no attribute 'vehicle_count'

In [14]:
visits = [
    Visit(
         id=str(i),
         name=str(i),
         location=Location(latitude=latitudes, longitude=next(longitudes)),
         demand=next(demands),
         min_start_time=datetime.combine(date.today() + timedelta(days=1),
                                         MORNING_WINDOW_START
                                         if (morning_window := random.random() > 0.5)
                                         else AFTERNOON_WINDOW_START),
         max_end_time=datetime.combine(date.today() + timedelta(days=1),
                                       MORNING_WINDOW_END
                                       if morning_window
                                       else AFTERNOON_WINDOW_END),
         service_duration=timedelta(minutes=next(service_durations)),
     ) for i in range(demo_data.visit_count)
]

AttributeError: 'VehicleRoutePlan' object has no attribute 'visit_count'

In [15]:
from datetime import date, datetime, time, timedelta
SERVICE_DURATION_MINUTES = (10, 20, 30, 40)
MORNING_WINDOW_START = time(8, 0)
MORNING_WINDOW_END = time(12, 0)
AFTERNOON_WINDOW_START = time(13, 0)
AFTERNOON_WINDOW_END = time(18, 0)

In [16]:
demand = 5
latitude = 21.501795
longitude = 39.244198
visits = [Visit(
    id=str(0),
    name=str(0),
    location=Location(latitude=latitude, longitude=longitude),
    demand=demand,
    min_start_time=datetime.combine(date.today() + timedelta(days=1), MORNING_WINDOW_START),
    max_end_time=datetime.combine(date.today() + timedelta(days=1), AFTERNOON_WINDOW_END),
    service_duration=timedelta(minutes=SERVICE_DURATION_MINUTES[3]),
)]

In [17]:
time(7,30)

datetime.time(7, 30)

In [18]:

vehicle_start_time = time(7, 30)
vehicle_count = 8
vehicle_capacity = 5
latitude = 21.501795
longitude = 39.244198
vehicles = [Vehicle(id=str(0),
        capacity=vehicle_capacity,
        home_location=Location(
            latitude=latitude,
            longitude=longitude),
        departure_time=datetime.combine(
            date.today() + timedelta(days=1), vehicle_start_time)
       )]

In [19]:

Location(latitude=43.751466, longitude=11.177210)

Location(43.751466, 11.17721)

In [20]:

# center_lat = customer['Latitude'].mean()
# center_lon = customer['Longitude'].mean()
# south_west_corner = DemoData.FIRENZE.value.south_west_corner
# north_east_corner = DemoData.FIRENZE.value.north_east_corner

south_west_corner = Location(latitude=43.751466, longitude=11.177210)
north_east_corner = Location(latitude=43.809291, longitude=11.290195)
# 
# 
VehicleRoutePlan(name="Kinzia",
                 south_west_corner=south_west_corner,
                 north_east_corner=north_east_corner,
                 vehicles=vehicles,
                 visits=visits)

VehicleRoutePlan(name='Kinzia', south_west_corner=Location(43.751466, 11.17721), north_east_corner=Location(43.809291, 11.290195), vehicles=[Vehicle(0)], visits=[Visit(0)], score=None, solver_status=None, total_driving_time_seconds=0)

# Test for real data

## imports

In [21]:
from src.vehicle_routing.demo_data import DemoData, generate_demo_data
from src.vehicle_routing.domain import Location, Visit, Vehicle, VehicleRoutePlan
import pandas as pd
from datetime import date, datetime, time, timedelta

## const data and read from csv as dataframe

In [22]:
!pwd
import os
os.getcwd()

/home/t/TLDR/TRP

'/home/t/TLDR/TRP'

In [23]:
SERVICE_DURATION_MINUTES = (10, 20, 30, 40)
MORNING_WINDOW_START = time(8, 0)
MORNING_WINDOW_END = time(12, 0)
AFTERNOON_WINDOW_START = time(13, 0)
AFTERNOON_WINDOW_END = time(18, 0)

prefix_path = "src/vehicle_routing/data/"
# Getting data
order = pd.read_csv(prefix_path+"Orders.csv")
customer = pd.read_csv(prefix_path + "Customer.csv")
product = pd.read_csv(prefix_path + "Product.csv")
truck = pd.read_csv(prefix_path + "Trucks.csv")

# Convert all 2nd row to columns for each table
tables = [order, customer, product, truck]

for table in tables:
    table.columns = table.iloc[1]
    table = table.drop([0,1], axis=0, inplace=True)

char = "٫"
converter = lambda c: c.replace(char, ".")

for i in [1, 2]:
    customer[customer.columns[i]] = customer[customer.columns[i]].apply(converter).apply(float)

for i in [7, 8, 9, 10]:
    product[product.columns[i]] = product[product.columns[i]].apply(converter).apply(float)

order['SalesQty'] = order['SalesQty'].apply(int)

for i in [0, 2, 3, 4]:
    truck[truck.columns[i]] = truck[truck.columns[i]].astype(int)

## see what inside the data frames

In [24]:
order.head()

1 Customer #   Invoice #        Item #  SalesQty
2     100022  INV-001321  CSD-11100103        15
3     100022  INV-001321  CSD-11100107         5
4     100022  INV-001321  CSD-11100109         8
5     100022  INV-001321  CSD-11100110         5
6     100022  INV-001321  CSD-11100112        10

In [25]:
customer.head()

1 customerNo   Latitude  Longitude
2     102215  21.501795  39.244198
3     104085  21.745882  39.194070
4     103678  21.589452  39.219122
5     104166  21.454958  39.207412
6     101617  21.771004  39.220411

In [26]:
product.head()

1,Item #,Product Name,Can Size\n(in mL),Can\n(in case),Packaging\n(carton),Pallet Size \n(carton),Cases per Pallet,Gross Carton Weight \n(in Kg),Carton Length \n(in cm),Carton Width \n(in cm),Carton Height \n(in cm)
2,CSD-11100101,Lift Up,250,30 Can,Case,100 x 120,144,8.30,32.5,27.0,11.80
3,CSD-11100102,KINZA COLA,360,24 Can,Case,100 x 120,130,9.50,40.2,27.0,12.45
4,CSD-11100103,KINZA COLA,250,30 Can,Case,100 x 120,144,8.30,32.5,27.0,11.80
5,CSD-11100104,KINZA COLA,185,30 Can,Case,100 x 120,192,6.15,32.5,27.0,11.80
6,CSD-11100105,KINZA Orange,360,24 Can,Case,100 x 120,130,9.50,40.2,27.0,11.80

In [27]:
truck.head()

1,Truck ID,Truck Name,Capacity (Pallets),Multiple Trips\n(# of trips),Priority
2,1,TruckA8 1,8,3,8
3,2,TruckB6 1,6,2,1
4,3,TruckB6 2,6,2,2
5,4,TruckB6 3,6,2,3
6,5,TruckB6 4,6,2,4

In [28]:
def get_invoices(customer_id):
    invoices = order[order[order.columns[0]] == customer_id].groupby(order.columns[1])
    return invoices

In [29]:
# # for customer_values in customer.values:
#     print(customer_values[0])

In [37]:
# for customer_values in customer.values:
#     invoices = get_invoices(customer_values[0])
#     inv_len = len(invoices)
#     rows = []
    
#     for invoice in invoices:
#         invoice_id = invoice[0]
#         invoice_items = invoice[1]
#         # print(create_row_html_with_dropdown(0, invoice_id, invoice_items))
#         # rows.append(create_row_html_with_dropdown(0, invoice_id, invoice_items))
#         print(invoice_id)
#         invoice_area = 0
#         fit_on_truck = 0
#         for item in invoice_items.values:
#             item_id = item[2]
#             qty = int(item[3])
#             print(item_id, qty)
#             item_data = product[item[2] == product[product.columns[0]]]
#             item_l_w = item_data[[product.columns[8], product.columns[9]]].values[0]
    
#             invoice_area += item_l_w[0] * item_l_w[1]
#             fit_on_truck += 12000 / (item_l_w[0] * item_l_w[1])
        
#         print(math.floor(12000/invoice_area), math.floor(fit_on_truck))
#         print(math.floor(fit_on_truck))

In [44]:
import pandas as pd
import math

def get_invoices(customer_id):
    invoices = order[order[order.columns[0]] == customer_id].groupby(order.columns[1])
    return invoices

# Assuming `customer` is a DataFrame containing customer details including 'Latitude' and 'Longitude'
customer_locations = customer[['customerNo', 'Latitude', 'Longitude']]

table_rows = []  # List to store the rows for the table

for customer_values in customer.values:
    customer_id = customer_values[0]
    latitude = customer_values[1]
    longitude = customer_values[2]
    
    invoices = get_invoices(customer_id)
    inv_len = len(invoices)
    
    for invoice in invoices:
        invoice_id = invoice[0]
        invoice_items = invoice[1]
        invoice_area = 0
        fit_on_truck = 0
        
        for item in invoice_items.values:
            item_id = item[2]
            qty = int(item[3])
            item_data = product[item[2] == product[product.columns[0]]]
            item_l_w = item_data[[product.columns[8], product.columns[9]]].values[0]
    
            invoice_area += item_l_w[0] * item_l_w[1]
            fit_on_truck += 12000 / (item_l_w[0] * item_l_w[1])
        
        # Append the row data to the table
        table_rows.append({
            "Invoice ID": invoice_id,
            "Fit on Truck": 12000/invoice_area,
            "Latitude": latitude,
            "Longitude": longitude
        })

# Convert to a pandas DataFrame to display as a table
table_df = pd.DataFrame(table_rows)
print(table_df)

        Invoice ID  Fit on Truck   Latitude  Longitude
0    INV-JD-079768     13.675214  21.501795  39.244198
1    INV-JD-081078      6.837607  21.501795  39.244198
2    INV-JD-081079     13.675214  21.501795  39.244198
3    INV-JD-081085     13.675214  21.501795  39.244198
4       INV-001367      0.964088  21.745882  39.194070
..             ...           ...        ...        ...
198  INV-JD-081084     11.055832  21.436995  39.196663
199  INV-JD-081975      3.056702  21.436995  39.196663
200  INV-JD-082008     13.675214  21.436995  39.196663
201  INV-JD-082368      2.037801  21.436995  39.196663
202  INV-JD-082469      1.613814  21.483831  39.309264

[203 rows x 4 columns]

## Make Integration with VRP

### Visits

In [32]:
for visit_data in customer.values:
    print(visit_data)

['102215' 21.501795 39.24419833]
['104085' 21.74588167 39.19407]
['103678' 21.58945167 39.21912167]
['104166' 21.45495833 39.20741167]
['101617' 21.7710044 39.2204109]
['101773' 21.5414813 39.2886656]
['102264' 21.42749167 39.19056333]
['101747' 21.43649657 39.19649943]
['103589' 21.85089667 39.20090833]
['100575' 21.30870532 39.26200066]
['102985' 21.79457547 39.11912732]
['100480' 21.309315 39.26082833]
['101745' 21.58959796 39.22022766]
['101736' 21.44191467 39.20195287]
['103519' 21.56520833 39.19109833]
['103836' 21.55959887 39.24909585]
['100956' 21.5959682 39.1674466]
['103514' 21.78516347 39.09091693]
['100192' 21.74981428 39.19414742]
['102100' 21.51347202 39.20027886]
['101894' 21.27643333 39.276445]
['101906' 21.51312667 39.25092833]
['100096' 21.4607257 39.2468377]
['103947' 21.78748459 39.1762178]
['100388' 21.576593 39.24061]
['100364' 21.75840166 39.189875]
['101720' 21.41888093 39.19221498]
['101725' 21.56484246 39.19117289]
['104174' 21.455005 39.20734667]
['103932' 21.45966 39.20858167]
['102309' 21.462075 39.24696333]
['101743' 21.4337653 39.19091618]
['100099' 21.40930802 39.25782021]
['101718' 21.59208767 39.21878148]
['102231' 21.43965667 39.20573667]
['103345' 21.62124689 39.17101239]
['100297' 21.58334166 39.12929166]
['101709' 21.43381696 39.20308027]
['101734' 21.45884577 39.26184909]
['100491' 21.61951666 39.19491833]
['100258' 21.51479333 39.16489833]
['100452' 21.41975666 39.29488833]
['101936' 21.55039 39.205445]
['100997' 21.78201066 39.08563463]
['101605' 21.76398492 39.20398858]
['101726' 21.58954062 39.21799285]
['104054' 21.54267 39.18264667]
['101732' 21.430755 39.195945]
['100022' 21.78962485 39.12966513]
['100574' 21.79755704 39.13822987]
['100495' 21.77768574 39.21662264]
['101737' 21.43699533 39.19666294]
['101765' 21.770426 39.219738]
['101730' 21.43623019 39.19652984]
['101728' 21.43699533 39.19666294]
['102854' 21.48383112 39.3092635]

In [33]:
demand = 2
latitude = 21.501795
longitude = 39.244198
visits = [Visit(
    id=str(visit_data[0]),
    name=str(visit_data[0]),
    location=Location(latitude=visit_data[1], longitude=visit_data[2]),
    demand=demand,
    min_start_time=datetime.combine(date.today() + timedelta(days=1), MORNING_WINDOW_START),
    max_end_time=datetime.combine(date.today() + timedelta(days=1), AFTERNOON_WINDOW_END),
    service_duration=timedelta(minutes=SERVICE_DURATION_MINUTES[3]),
) for visit_data in customer.values]

### Vehicle

In [40]:
(truck["Capacity (Pallets)"] * truck["Multiple Trips\n(# of trips)"]).sum()

np.int64(90)

In [34]:
# len(truck)
for truck_data in truck.values:
    print(truck_data[2])

8
6
6
6
6
6
6
6

In [35]:
vehicle_start_time = time(7, 30)
vehicle_count = len(truck)
dept_latitude = 21.501795
dept_longitude = 39.244198




# vehicle_capacity = 5
vehicles = [Vehicle(id=str(truck_data[0]),
        capacity=truck_data[2],
        home_location=Location(
            latitude=dept_latitude,
            longitude=dept_longitude),
        departure_time=datetime.combine(
            date.today() + timedelta(days=1), vehicle_start_time)
       ) for truck_data in truck.values]

### VehicleRoutePlan

In [36]:
south_west_corner = Location(latitude=43.751466, longitude=11.177210)
north_east_corner = Location(latitude=43.809291, longitude=11.290195)
# 
# 
VehicleRoutePlan(name="Kinzia",
                 south_west_corner=south_west_corner,
                 north_east_corner=north_east_corner,
                 vehicles=vehicles,
                 visits=visits)

VehicleRoutePlan(name='Kinzia', south_west_corner=Location(43.751466, 11.17721), north_east_corner=Location(43.809291, 11.290195), vehicles=[Vehicle(1), Vehicle(2), Vehicle(3), Vehicle(4), Vehicle(5), Vehicle(6), Vehicle(7), Vehicle(8)], visits=[Visit(102215), Visit(104085), Visit(103678), Visit(104166), Visit(101617), Visit(101773), Visit(102264), Visit(101747), Visit(103589), Visit(100575), Visit(102985), Visit(100480), Visit(101745), Visit(101736), Visit(103519), Visit(103836), Visit(100956), Visit(103514), Visit(100192), Visit(102100), Visit(101894), Visit(101906), Visit(100096), Visit(103947), Visit(100388), Visit(100364), Visit(101720), Visit(101725), Visit(104174), Visit(103932), Visit(102309), Visit(101743), Visit(100099), Visit(101718), Visit(102231), Visit(103345), Visit(100297), Visit(101709), Visit(101734), Visit(100491), Visit(100258), Visit(100452), Visit(101936), Visit(100997), Visit(101605), Visit(101726), Visit(104054), Visit(101732), Visit(100022), Visit(100574), Visit(100495), Visit(101737), Visit(101765), Visit(101730), Visit(101728), Visit(102854)], score=None, solver_status=None, total_driving_time_seconds=0)